@use "../abstracts";

.footer {
  margin-top: 160px;
  background: abstracts.$bg-color;

  @include abstracts.breakpoint(lg) {
    margin-top: 100px;
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 0.3fr 0.4fr 0.4fr 0.9fr;
    gap: 90px;
    padding: 104px 0 38px;

    @include abstracts.breakpoint(lg) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 38px;
    }

    @include abstracts.breakpoint(sm) {
      grid-template-columns: 1fr;
      gap: 38px;
    }
  }

  &__column {
    &:first-child {
      @include abstracts.breakpoint(lg) {
        grid-column: span 2;
      }

      @include abstracts.breakpoint(sm) {
        grid-column: unset;
      }
    }

    &:nth-child(2) {
      @include abstracts.breakpoint(lg) {
        order: 3;
      }

      @include abstracts.breakpoint(sm) {
        order: unset;
      }
    }

    &:nth-child(3) {
      @include abstracts.breakpoint(lg) {
        order: 4;
      }

      @include abstracts.breakpoint(sm) {
        order: unset;
      }
    }

    &:nth-child(4) {
      @include abstracts.breakpoint(lg) {
        order: 5;
      }

      @include abstracts.breakpoint(sm) {
        order: unset;
      }
    }

    &:last-child {
      order: 2;
      justify-self: flex-end;

      @include abstracts.breakpoint(lg) {
        justify-self: flex-start;
      }

      @include abstracts.breakpoint(sm) {
        order: unset;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;

    &--horizontal {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__copyright {
    margin-top: 14px;
    color: abstracts.$text-color;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-top: 18px;
  }

  &__social {
    @include abstracts.flex-center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #fff;
    background: abstracts.$secondary-color;
    transition: background-color 0.25s ease-out;

    &:hover {
      background: abstracts.$primary-color;
    }
  }

  &__item {
  }

  &__link {
    color: abstracts.$text-color;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
  }

  &__icon {
    width: 36px;
    height: 36px;
  }
}
